# Data Structures in Python

Numeric

In [1]:
x=10

print(x)

print(type(x))

10
<class 'int'>

In [2]:
y=10.22

print(y)

print(type(y))

10.22
<class 'float'>

In [4]:
str1="This is string"

print(str1)

print(type(str1))

This is string
<class 'str'>

In [5]:
str1= 'This is string'

print(str1)

print(type(str1))

This is string
<class 'str'>

Python is a case-sensitive language

Tuples

List

Dictionary

Sets

Tuple

A tuple is a fixed length, immutable sequence of Python objects which, once assigned, cannot be changed.

In [6]:
tup_a=(4,5,6)

print(tup_a)
print(type(tup_a))

(4, 5, 6)
<class 'tuple'>

In [7]:
tup=tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

slicing and indexing

s t r i n g

0 1 2 3 4 5

In [8]:
tup[0]

's'

In [9]:
tup[0:3] # last index is exluded

('s', 't', 'r')

In [10]:
tup[-1]

'g'

start:stop:step

In [12]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [11]:
tup[0:5:2]

('s', 'r', 'n')

In [13]:
tup[0:5:-1]

()

In [14]:
tup[:]

('s', 't', 'r', 'i', 'n', 'g')

In [15]:
tup[::2]

('s', 'r', 'n')

In [16]:
nested_tup=(4,5,6),(7,8)
nested_tup

((4, 5, 6), (7, 8))

In [17]:
nested_tup[0]

(4, 5, 6)

In [18]:
nested_tup[0][1]

5

In [19]:
tup=tuple(['foo',[1,2],True])

tup[2]=False

TypeError: 'tuple' object does not support item assignment

In [20]:
('foo','bar')*4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [21]:
(4,None,'foo')+(6,0)+('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [22]:
tup=(4,5,6)
a,b,c=tup

print(a,b,c)

4 5 6

Loops

In [23]:
range(10)

range(0, 10)

In [24]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
i=5
while i>=0:
    print(i)
    i=i-1

5
4
3
2
1
0

Conditional Statements

In [27]:
x=5

if x>5:
    print(" x is greater than 5")
elif x==5:
    print("x is equal to 5")
else:
    print("x is less than 5")

x is equal to 5

List

Lists are variable length and their contents can be modified in place. Lists are mutable.

You can define them using square brackets [] or using list type function

In [28]:
a_list=[2,3,7,None]

print(a_list)

print(type(a_list))

[2, 3, 7, None]
<class 'list'>

In [29]:
tup=("foo","bar","baz")

b_list=list(tup)

b_list

['foo', 'bar', 'baz']

In [30]:
b_list[1]="peekaboo"

print(b_list)

['foo', 'peekaboo', 'baz']

In [31]:
tup=tuple(b_list)
tup

('foo', 'peekaboo', 'baz')

In [32]:
gen=range(20)
print(gen)

range(0, 20)

In [33]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Adding and removing elements

Elements can be appended to the end of the list with the append method

In [34]:
b_list.append("warf")

b_list

['foo', 'peekaboo', 'baz', 'warf']

In [35]:
b_list.insert(1,"red")
b_list

['foo', 'red', 'peekaboo', 'baz', 'warf']

In [36]:
b_list.pop(2)

'peekaboo'

In [37]:
b_list

['foo', 'red', 'baz', 'warf']

In [38]:
b_list.remove("foo")

In [39]:
b_list

['red', 'baz', 'warf']

Concatenate

In [40]:
[4,None,"foo"]+[7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [41]:
x=[4,None,"foo"]

x.extend([7,8,(2,3)])

In [42]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [43]:
a=[7,2,5,1,3]
a.sort()
a

[1, 2, 3, 5, 7]

In [44]:
a=[7,2,5,1,3]
a.sort(reverse=True)
a

[7, 5, 3, 2, 1]

In [45]:
b=["saw","small","He","foxes","six"]

b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [46]:
seq=[7,2,3,7,5,6,0,1]

seq[1:5]

[2, 3, 7, 5]

In [47]:
seq[3:5]=[6,3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [48]:
seq[:5]

[7, 2, 3, 6, 3]

In [49]:
seq[3:]

[6, 3, 6, 0, 1]

In [50]:
seq[-1]

1

In [51]:
seq[::2]

[7, 3, 3, 0]

In [52]:
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

Dictionary

A dictionary stores a collection of key-value pairs, where key and value are python objects.

Each key is associated with a value so that a value can be conviniently retrieved, inserted modified or deleted given a particular key.

One approach for creating a dictionary is to use curly braces {}

In [53]:
empty_dict={}

In [54]:
d1={"a":"some value","b":[1,2,3,4]}

print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [55]:
print(type(d1))

<class 'dict'>

In [56]:
d1[7]="an integer"

d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [57]:
d1[5]="some value"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [58]:
d1["dummy"]="another value"

In [60]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [61]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [62]:
d1.pop("dummy")

'another value'

In [63]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [64]:
list(d1.keys())

['a', 'b', 7]

In [65]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

If you need to iterate over both the keys and values, you can use the items method ver the keys and values as 2-tuples

In [66]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [67]:
d1.update({"b":"foo","c":12})

In [68]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

Categorize a list of words by their first letter as a dictionary of lists

In [69]:
words=["apple","bat","bar","atom","book","cook"]

by_letter={}

for word in words:
    #print(word)
    letter=word[0]  # letter=a
    if letter not in by_letter:
        by_letter[letter]=[word] # by_letter["a"]=["apple"] by_letter["b"]="bat"
    else:
        by_letter[letter].append(word) #by_letter["b"].append("bar")

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book'], 'c': ['cook']}

Set

A set is an unordered collection of unique elements. A set can be created in two ways

via the set function or via a set literal with curly braces

In [70]:
set([2,2,2,3,4,3,4,1,2,5])

{1, 2, 3, 4, 5}

In [71]:
a={1,2,3,4,5}

b={3,4,5,6,7,8}

a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [72]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [73]:
a.intersection(b)

{3, 4, 5}

In [74]:
a&b

{3, 4, 5}

# Built-in Sequence Functions

enumerate

enumerate returns a sequence of (index,value) tuples

In [75]:
list_a=["a","b","c","d","e"]

for index, value in enumerate(list_a):
    print(index,value)

0 a
1 b
2 c
3 d
4 e

sorted

The sorted function returns a new sorted list from the elements of any sequence

In [76]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [77]:
sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

zip

zip pairs up the elements of a number of lists, tuples or other sequences to create a list of tuples

In [78]:
seq1=["foo","bar","baz"]
seq2=["one","two","three"]

zipped=zip(seq1,seq2)

list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [79]:
seq3=[False,True]

list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

reversed

reversed iterates over the elements of a sequence in reverse order

In [80]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# List, Set and Dictionary Comprehension

List Comprehensions are a convenient and widely used Python language feature.

It allows you to concisely form a new list by filtering the elements of a collection, transforming the elements passing the filter into one concise expression.

Filter out string with length greater than 2 and convert them to upper case

In [81]:
strings=["a","as","bat","car","dove","python"]

result=[]

for i in strings:
    if len(i)>2:
        result.append(i.upper())

print(result)

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [82]:
strings=["a","as","bat","car","dove","python"]

[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [83]:
strings=["a","as","bat","car","dove","python"] # 1, 2,3,3,4,6

unique_lengths={len(x) for x in strings}

unique_lengths

{1, 2, 3, 4, 6}